.form-container {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.title-wrap {
  color: rgb(2, 93, 57);
}

.form-wrap {
  margin: 0 auto;
  padding: 40px;
  width: 480px;
  background-color: rgb(222, 238, 191);
}

.select-wrap {
  margin-top: 32px;
}

.select-label {
 display: block;
}

.select-text {
  font-size: 12px;
  color: red;
}

.flex-items {
  display: flex;
  justify-content: center;
}

label {
  margin-right: 4px;
}

#name {
  margin-right: 16px;
}

#mail {
  margin-right: 16px;
}

.contact-wrap {
  margin-top: 32px;
}

.label-contact {
  display: block;
  margin-bottom: 8px;
}

.submit-button {
  display: block;
  margin: 16px auto 0;
  padding:8px 24px;
  border-radius: 8px;
  border-color: blue;
  background-color: blue;
  color: #fff;
  cursor: pointer;
}
